.divBack {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divContainer {
  background-color: var(--color-2);
}
